$modularscale: (
  base: 1em,
  ratio: 1.25
);

html {
  font-size: 16px;
}

/* type */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $nsu-red;
  font-family: Signika, Helvetica, Arial, sans-serif;
  font-weight: 800;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(3);
}

h3 {
  font-size: ms(2);
}

p {
  margin: 0 0 2rem 0;
  font-size: ms(0);
}