<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header id="header" class="fixed-top nav-hidden">

            {{ partial "nav.html" . }}

        </header>

        {{ partial "sections/hero.html" . }}

        {{ partial "sections/more_about.html" . }}

        {{ partial "sections/upcoming_events.html" . }}

        {{ partial "sections/call_to_action.html" . }}

        {{ partial "sections/newsletter.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
