<section class="red-bg" id="contact" style="height:100vh;">
    <div class="container" style="padding-top:100px;">
        <div class="row text-center">
            <div class="col-md-12 about-info">
                <h1 class="section-title white">Contact Us</h1>
                <p class="about-text text-center" style="margin-bottom: 30px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div>
                    <input type="text" id="fname" placeholder="Name">
                </div>
                <div>
                    <input type="text" id="email" placeholder="Email">
                </div>
                <div>
                    <input type="text" id="message" placeholder="Write your message here!">
                </div>
                <div>
                    <a class="cf-btn-primary send-btn" href="#">SEND</a>
                </div>
            </div>
        </div>
    </div>
</section>