{{ if isset .Site.Params "more_about" }}
{{ if .Site.Params.more_about.enable }}
<section class="bar bg-img" id="more-about">
    <div class="more_about container">
        <div class="row">
            <div class="col-xl-5">
                <!--Section Title-->
                <h1 class="section-title">{{ .Site.Params.more_about.title }}</h1>
                <!--Buttons -->
                <ul class="nav">
                    <li>
                        <a class="cf-btn-primary buttons-gap active" id="member-btn">{{.Site.Params.more_about.member_button }}</a>
                    </li>
                    <li>
                        <a class="cf-btn-primary" id="sponsor-btn">{{ .Site.Params.more_about.sponsor_button}}</a>
                    </li>
                </ul>
                <!--Sub buttons-->
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemMB1">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail1 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.member.item1Top }} <br> {{ .Site.Params.more_about.member.item1Bottom }}
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemMB2">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail2 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.member.item2Top }} <br> {{ .Site.Params.more_about.member.item2Bottom }}
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemMB3">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail3 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.member.item3Top }} <br> {{ .Site.Params.more_about.member.item3Bottom }}
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemSB1">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail1 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.sponsor.item1Top }} <br> {{ .Site.Params.more_about.sponsor.item1Bottom }}
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemSB2">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail2 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.sponsor.item2Top }} <br> {{ .Site.Params.more_about.sponsor.item2Bottom }}
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="cf-btn-secondary col" data-toggle="pill" href="#" id="itemSB3">
                        <img class="cf-btn-icon col-md-4"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.thumbnail3 }}">
                        <div class="cf-btn-text col-md-8'"> {{ .Site.Params.more_about.sponsor.item3Top }} <br> {{ .Site.Params.more_about.sponsor.item3Bottom }}
                        </div>
                    </a>
                </div>
            </div>
            <!--Tab Content-->
            <div class="col-xl-7">
                <div class="tab-content" id="member">
                    <div class="tab-pane active in" id="itemM1">
                        <img class="flavor-img"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.member.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.member.item1Top }} {{ .Site.Params.more_about.member.item1Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.member.text1 }}</div>
                    </div>

                    <div class="tab-pane fade in" id="itemM2">
                        <img class="flavor-img"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.member.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.member.item2Top }} {{ .Site.Params.more_about.member.item2Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.member.text2 }}</div>
                    </div>

                    <div class="tab-pane fade in" id="itemM3">
                        <img class="flavor-img"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.member.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.member.item3Top }} {{ .Site.Params.more_about.member.item3Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.member.text3 }}</div>
                    </div>
                </div>
                <div class="tab-content hidden" id="sponsor">
                    <div class="tab-pane in active" id="itemS1">
                        <img class="flavor-img"
                             src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.sponsor.item1Top }} {{ .Site.Params.more_about.sponsor.item1Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.sponsor.text1 }}</div>
                    </div>

                    <div class="tab-pane fade in" id="itemS2">
                        <img class="flavor-img" src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.sponsor.item2Top }} {{ .Site.Params.more_about.sponsor.item2Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.sponsor.text2 }}</div>
                    </div>

                    <div class="tab-pane fade in" id="itemS3">
                        <img class="flavor-img" src="{{ .Site.BaseURL }}{{ .Site.Params.more_about.sponsor.img1 }}">
                        <h2 class="section-title">{{ .Site.Params.more_about.sponsor.item3Top }} {{.Site.Params.more_about.sponsor.item3Bottom}} </h2>
                        <div class="sub-title">{{ .Site.Params.more_about.sponsor.text3 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}