<section class="container-fluid" id="newsletter" style="background-image: url('img/wave.svg'); ">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center news-box">
            <div class="newsletter-container">
                <h1 class="section-title" style="color:white;margin-top:2rem;">Our Newsletter</h1>
                <p>Stay up to date with all our events and future meetings by signing up to our newsletter!</p>
                <form>
                    <input type="text" id="fname" name="yourpersonal@email.com">
                    <a class="cf-btn-primary" href="#">JOIN US</a>
                </form>
            </div>
        </div>
    </div>
</section>