<footer id="footer">
    <div class="container-fluid nsu-red">
        <div class="col-md-6 offset-md-3" style="text-align:center;">
            <h1>⽇系<br>⼀輪</h1>
            <h1>Nikkei Student Union</h1>
            <h2>Chapman University</h2>
            <h3>Promoting and celebrating Japanese American Culture</h3>
            <div class="row">
                <div class="col-md-3">
                    <h3>Gallery</h3>
                </div>
                <div class="col-md-3">
                    <h3>Events</h3>
                </div>
                <div class="col-md-3">
                    <h3>About Us</h3>
                </div>
                <div class="col-md-3">
                    <h3>Contact Us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-2">
                    icon1
                </div>
                <div class="col-md-2 offset-md-1">
                    icon2
                </div>
                <div class="col-md-2 offset-md-1">
                    ICON3
                </div>
            </div>
        </div>
    </div>
</footer>