<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header id="header" class="fixed-top nav-hidden">

            {{ partial "nav.html" . }}

        </header>

        {{ if isset .Params "id" }}
            {{ if eq .Params.id "work_with_us" }}
            {{else}}
                {{ partial "breadcrumbs.html" . }}
            {{end}}
        {{ end }}

        {{ if isset .Params "id" }}

            <div class="content top-container">
                {{ partial .Params.id . }}
            </div>
        {{ else }}

        <div id="content">



                        <div>
                          {{ .Content }}
                        </div>


            {{ end }}
        </div>
        <!-- /#content -->

        {{ if isset .Params "id" }}
            {{ if eq .Params.id "work_with_us" }} {{else}}
                {{ partial "footer.html" . }}
            {{end}}
        {{end}}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
